<mat-card class="mat-elevation-z8">
    <form [formGroup]="verticalForm">
        <mat-vertical-stepper #verticalMenu1>
            <mat-step>
                <mat-icon icon="thumbs-up"></mat-icon>
                <ng-template matStepLabel>Setup</ng-template>
                <mat-horizontal-stepper #verticalSubMenu1
                    (selectionChange)="setMenuStatus(verticalSubMenu1._steps._results,'subForm1')">
                    <div class="vertical-container">

                        <!-- Question #1 -->
                        <mat-step>
                            <mat-icon icon="thumbs-up"></mat-icon>
                            <ng-template matStepLabel>Glove Type</ng-template>
                            <div class="vertical-view_column" *ngFor="let sport of (wizardPrompts)?.sportPlayed">
                                <mat-card-title>{{sport.label}}</mat-card-title>
                                <div class="vertical-view_row">
                                    <div class="vertical-view__item" *ngFor="let option of sport.options"><button
                                            mat-raised-button type="button" color="primary"
                                            (click)="setGloveSeries(option.valueString, option.value, option.id, 'subForm1', sport.formName)">{{option.valueString}}</button>
                                    </div>
                                </div>
                            </div>
                            &nbsp;

                            <div class="vertical-view__button">
                                <button mat-raised-button matStepperNext type="button" color="accent">Next</button>
                            </div>

                        </mat-step>

                        <!-- Question #2 -->
                        <mat-step>
                            <mat-icon></mat-icon>
                            <div class="raise-container">
                                <ng-template matStepLabel>Position</ng-template>
                                <div *ngFor="let position of (wizardPrompts)?.positions">
                                    <mat-card-title>{{position.label}}</mat-card-title>
                                    <div class="vertical-view__list vertical-flex-grow">
                                        <position-glove-view [positions]="position.options"
                                            (gloveData)="setGloveType($event)"></position-glove-view>
                                    </div>

                                    <!-- <div class="vertical-view_row">
                                    <div class="vertical-view__item wrap" *ngFor="let option of position.options">
                                        <button mat-raised-button type="button" color="primary"
                                            (click)="setGloveType(option.shortName, option.fullName, option.id, option.value, position.formName,'subForm1', option.img)">{{option.fullName}}</button>
                                    </div>
                                </div> -->
                                    &nbsp;
                                    <div class="vertical-view__button">
                                        <button mat-button matStepperPrevious type="button">Back</button>
                                        <button mat-raised-button matStepperNext type="button"
                                            color="accent">Next</button>
                                    </div>
                                </div>
                            </div>

                        </mat-step>

                        <!-- Question #3 -->
                        <mat-step>
                            <mat-icon></mat-icon>
                            <ng-template matStepLabel>Glove Quality</ng-template>
                            <div *ngFor="let series of (wizardPrompts)?.gloveSeries">
                                <div class="vertical-view_column">
                                    <div class="title">
                                        <mat-card-title>{{series.label}}</mat-card-title>
                                    </div>
                                    <div class="glove-series">
                                        <div class="glove-series_info" fxFlexAlign="center"
                                            *ngFor="let option of series.options"><button mat-raised-button
                                                type="button" color="primary"
                                                (click)="setGloveSeries(option.valueString,option.value, option.id, 'subForm1',series.formName)">{{option.valueString}}</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            &nbsp;
                            <div class="vertical-view__button">
                                <button mat-raised-button matStepperPrevious type="button">Back</button>
                                <button mat-raised-button matStepperNext type="button" color="accent">Next</button>
                            </div>
                        </mat-step>

                        <!-- Question #4 -->
                        <mat-step>
                            <mat-icon></mat-icon>
                            <div class="raise-container">
                                <ng-template matStepLabel>Glove Hand</ng-template>
                                <div *ngFor="let hand of (wizardPrompts)?.gloveHand">
                                    <mat-card-title>{{hand.label}}</mat-card-title>
                                    <div class="vertical-view_row">
                                        <div class="vertical-view__item vertical-flex-grow">
                                            <mat-card class="mat-elevation-z8 mat-img-buffer"
                                                *ngFor="let option of hand.options"
                                                (click)="setGloveHand(option.id, option.value, option.valueString)">
                                                <div>
                                                    <img mat-card-image src="./assets/images/{{option.img}}">
                                                </div>

                                                <!-- <div>
                                                <button mat-button type="button" color="primary" >{{option.valueString}}</button>
                                            </div> -->
                                            </mat-card>
                                        </div>
                                    </div> &nbsp;
                                    <div class="vertical-view__button">
                                        <button mat-button matStepperPrevious type="button">Back</button>
                                        <button mat-raised-button matStepperNext type="button"
                                            color="accent">Next</button>
                                    </div>
                                </div>
                            </div>


                        </mat-step>
                        <!-- Question #5 -->
                        <mat-step>
                            <mat-icon></mat-icon>
                            <div class="raise-container">
                                <ng-template matStepLabel>Hand Size</ng-template>
                                <div *ngFor="let size of (wizardPrompts)?.gloveFit">
                                    <mat-card-title>{{size.label}}</mat-card-title>
                                    <div class="vertical-view__list vertical-flex-grow">
                                        <hand-size-view [hands]="size.options"></hand-size-view>
                                        &nbsp;
                                    </div>
                                </div>
                            </div>

                            <div class="vertical-view__button">
                                <button mat-button matStepperPrevious type="button">Back</button>
                                <button mat-raised-button matStepperNext type="button" color="accent">Next</button>
                            </div>
                        </mat-step>
                        <!-- Question #6 -->
                        <mat-step>

                            <ng-template matStepLabel>Protection</ng-template>
                            <div *ngFor="let pad of (wizardPrompts)?.gloveProtection">
                                <mat-card-title>{{pad.label}}
                                    <mat-icon
                                        matTooltip="Higher quality gloves usually do not have padding included. Padding is included in department store gloves to make up for lower quality construction. We can add padding if you need it. "
                                        matTooltipPosition="after">help_outline</mat-icon>
                                </mat-card-title>

                                <div class="vertical-view_row">
                                    <div class="vertical-view__item" *ngFor="let option of pad.options">

                                        <button mat-raised-button type="button" color="primary"
                                            (click)="setGloveOptions(option.valueString, option.value, option.id,'subForm1',pad.formName)">
                                            {{option.valueString}}
                                        </button>


                                    </div>
                                </div>
                            </div>&nbsp;
                            <div class="vertical-view__button">
                                <button mat-button matStepperPrevious type="button">Back</button>
                                <button mat-raised-button matStepperNext type="button" color="accent">Next</button>
                            </div>
                        </mat-step>
                        <!-- Question #7 -->
                        <mat-step>
                            <mat-icon></mat-icon>
                            <ng-template matStepLabel>Flexibility</ng-template>
                            <div *ngFor="let flex of (wizardPrompts)?.gloveCondition">
                                <mat-card-title>{{flex.label}}
                                    <span>
                                        <mat-icon
                                            matTooltip=" When the factory completes a high quality glove, the glove is stiff and has no flexibility. Our factories help the 'break-in' process by applying pressure into the palm which makes closing the glove closer easier. Players will still need to oil, catch, pound the fingers and hinges to get your glove game ready sooner."
                                            matTooltipPosition="after"> help_outline</mat-icon>
                                    </span>

                                </mat-card-title>

                                <div class="vertical-view_row">
                                    <div class="vertical-view__item" *ngFor="let option of flex.options">
                                        <button mat-raised-button type="button" color="primary"
                                            (click)="setGloveOptions(option.valueString, option.value, option.id, 'subForm1',flex.formName)">
                                            {{option.valueString}}
                                        </button>
                                    </div>
                                </div>&nbsp;
                                <div class="vertical-view__button">
                                    <button mat-button matStepperPrevious type="button">Back</button>
                                    <button *ngIf="verifySubMenuCompletion('subForm1')" mat-raised-button
                                        (click)="nextStep()" type="button" color="accent">Next</button>
                                </div>
                            </div>
                        </mat-step>
                    </div>
                </mat-horizontal-stepper>
            </mat-step>

            <mat-step>
                <mat-icon icon="thumbs-up"></mat-icon>
                <ng-template matStepLabel>Design</ng-template>
                <mat-horizontal-stepper #verticalSubMenu2
                    (selectionChange)=" setMenuStatus(verticalSubMenu2._steps._results,'subForm2') ">
                    <!-- Question #1: Sub 2 -->
                    <mat-step>

                        <ng-template matStepLabel>Glove Size</ng-template>
                        <div *ngFor="let question of (wizardPrompts)?.gloveSize">

                            <mat-card-title>{{question.label}}</mat-card-title>
                            <div class="raise-container">
                                <div class="vertical-view_row">
                                    <div class="vertical-view__list slider">
                                        <mat-slider [min]="gloveSizeSlider.handSliderMin"
                                            [max]="gloveSizeSlider.handSliderMax"
                                            [step]="gloveSizeSlider.handSliderStep" [thumbLabel]=true
                                            [vertical]="gloveSizeSlider.handSliderVertical"
                                            [value]="gloveSizeSlider.handSliderValue"
                                            [tickInterval]="gloveSizeSlider.tickInterval"
                                            (change)="setGloveSize($event)">
                                        </mat-slider>
                                    </div>

                                    <div class="vertical-view__list vertical-flex-grow mat-elevation-z8">
                                        <mat-card>
                                            <mat-card-title *ngIf="!glove.size"></mat-card-title>
                                            <mat-card-title *ngIf="glove.size">{{glove.size}}" Glove</mat-card-title>
                                            <img mat-card-image src={{handSizeImg}}>
                                            <mat-card-content>{{glove.content || "Please select your glove size." }}
                                            </mat-card-content>
                                        </mat-card>
                                    </div>
                                </div>
                            
                            <div class="vertical-view__button">
                                <button mat-button matStepperPrevious type="button">Back</button>
                                <button mat-raised-button matStepperNext type="button" (click)="autoStartIntroJs()"
                                    color="accent">Next</button>
                            </div>
                        </div>
                        </div>
                    </mat-step>

                    <!-- Question #2: Sub 2 -->
                    <mat-step #customTool>
                        <mat-icon icon="thumbs-up"></mat-icon>
                        <ng-template matStepLabel>Customize</ng-template>

                        <div *ngFor="let question of (wizardPrompts)?.gloveDesign">
                            <div class="vertical-view_glove_row">
                                <div class="vertical-view__list vertical-flex-grow">
                                    <glove-customizer-vertical-view
                                        [showNavigationIndicators]="showNavigationIndicators"
                                        [showNavigationArrows]="showNavigationArrows" [question]="question">
                                    </glove-customizer-vertical-view>

                                    <div class="vertical-view__item spacer"></div>
                                    <div>
                                        <div id="slider-control" *ngIf="sliderStatus">
                                            <div class="glove-editing-label">
                                                <div>
                                                    <p>Currently Customizing: </p>
                                                </div>
                                                <div><strong>Glove Leather</strong></div>
                                            </div>
                                            <div class="glove-slider">
                                                <mat-slider class="glove-slider" #gloveSliderCustom
                                                    (input)="onGloveSliderChange(true)" (change)="onGloveSliderChange()"
                                                    [min]="amGloveSlider.min" [max]="amGloveSlider.max"
                                                    [step]="amGloveSlider.step" [value]="amGloveSlider.value"
                                                    [thumbLabel]="amGloveSlider.thumbLabel" [tickInterval]=5>
                                                </mat-slider>
                                            </div>

                                            <!-- <ng5-slider id="slider-control-leather" #verticalSlider
                                                class="vertical-wizard-slider" [(value)]="value"
                                                [options]="gloveSlider"
                                                (userChange)="leatherSliderSelections(verticalSlider.value)">
                                            </ng5-slider> -->
                                        </div>
                                        <div *ngIf="!sliderStatus">
                                            <div class="glove-editing-label">
                                                <div>
                                                    <p>Currently Customizing: </p>
                                                </div>
                                                <div><strong>Glove Stitching/Embroidery</strong></div>
                                            </div>
                                            <div id="slider-control-embroidery" class="glove-slider">
                                                <mat-slider class="embroidery-slider" #gloveSliderEmbroidery
                                                    (input)="onEmbroiderySliderChange(true)"
                                                    (change)="onEmbroiderySliderChange(false)"
                                                    [min]="amEmbGloveSlider.min" [max]="amEmbGloveSlider.max"
                                                    [step]="amEmbGloveSlider.step" [value]="amEmbGloveSlider.value"
                                                    [thumbLabel]="amEmbGloveSlider.thumbLabel" [tickInterval]=5>
                                                </mat-slider>
                                            </div>
                                            <!-- <ng5-slider id="slider-control-embroidery" #verticalEmbSlider
                                                class="vertical-wizard-slider" [(value)]="valueEmbroidery"
                                                [options]="embroiderySlider"
                                                (userChange)="embroiderySliderSelections(verticalEmbSlider.value)">
                                            </ng5-slider> -->
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="vertical-view__button">
                                <button mat-button matStepperPrevious type="button">Back</button>
                                <button mat-raised-button matStepperNext type="button" color="accent">Next</button>
                            </div>
                        </div>
                    </mat-step>

                    <!-- Question #3: Sub 2 -->
                    <mat-step>
                        <ng-template matStepLabel>Web</ng-template>
                        <div *ngFor="let question of (wizardPrompts)?.gloveWeb">
                            <mat-card-title>{{question.label}}</mat-card-title>
                            <div class="">
                                <div class="vertical-view__list vertical-flex-grow">
                                    <vertical-web-view [webs]="filteredGloveWebs"></vertical-web-view>
                                </div>&nbsp;
                            </div>

                            <div class="vertical-view__button">
                                <button mat-button matStepperPrevious type="button">Back</button>
                                <button mat-raised-button matStepperNext type="button" color="accent">Next</button>
                            </div>
                        </div>
                    </mat-step>

                    <!-- Question #4 -->
                    <mat-step>
                        <ng-template matStepLabel>Personalize</ng-template>
                        <div class="vertical-view_column">
                            <div class="vertical-view_row">
                                <mat-card style="width:600px" class="mat-elevation-z8 margin-bottom">
                                    <div *ngFor="let question of (wizardPrompts)?.gloveSignature">
                                        <mat-card-title>{{question.label}}</mat-card-title>

                                        <div style="width:100%" class="signature-slider">
                                            <mat-slider class="signature-slider" #gloveSliderSignature
                                                (input)="onSignatureChange( undefined, true )"
                                                (change)="onSignatureChange(question.options)"
                                                [min]="amEmbGloveSlider.min" [max]="amEmbGloveSlider.max"
                                                [step]="amEmbGloveSlider.step" [value]="amEmbGloveSlider.value"
                                                [thumbLabel]="amEmbGloveSlider.thumbLabel" [tickInterval]=5>
                                            </mat-slider>
                                        </div>
                                    </div>
                                    <div class="vertical-view_column"
                                        *ngFor="let question of (wizardPrompts)?.gloveName">
                                        <mat-card-title>{{question.label}}</mat-card-title>
                                        <div *ngFor="let option of question.options">
                                            <mat-form-field class="">
                                                <input matInput formControlName="gloveFont"
                                                    placeholder="{{option.value}}" maxlength="16" [value]="">
                                                <button mat-button *ngIf="option.value" matSuffix mat-icon-button
                                                    aria-label="Clear">
                                                    <mat-icon>close</mat-icon>
                                                </button>
                                            </mat-form-field>
                                        </div>
                                    </div>&nbsp;
                                    <div class="vertical-view_column" *ngFor="let font of (wizardPrompts)?.gloveFont">
                                        <div class="margin-bottom">
                                            <mat-card-title>{{font.label}}</mat-card-title>
                                        </div>
                                        <div class="vertical-view_row">
                                            <img style="width:100px;margin-right: 5px;" src="{{option.img}}"
                                                *ngFor="let option of font.options"
                                                (click)="setGloveOptions(option.valueString, option.value, option.id, option.name, font.formName)">
                                        </div>

                                    </div>
                                </mat-card>


                            </div>

                        </div>


                        <div class="vertical-view__button">
                            <button mat-button matStepperPrevious type="button">Back</button>
                            <button *ngIf="verifySubMenuCompletion('subForm2')" mat-raised-button (click)="nextStep()"
                                type="button" color="accent">Next</button>
                        </div>

                    </mat-step>
                </mat-horizontal-stepper>
            </mat-step>

            <mat-step>
                <mat-icon icon="thumbs-up"></mat-icon>
                <ng-template matStepLabel>Finalize</ng-template>
                <mat-horizontal-stepper>
                    <mat-step>
                        <mat-icon icon="thumbs-up"></mat-icon>
                        <ng-template matStepLabel></ng-template>
                        <ul class="finalize-view__list">
                            <li class="finalize-view">
                                <div class="finalize-view_image"><svg id="gloveCloneSummary1"></svg></div>
                            </li>
                            <li class="finalize-view">
                                <div class="finalize-view_image"><svg id="gloveCloneSummary2"></svg></div>
                            </li>
                            <li class="finalize-view">
                                <div class="finalize-view_image"><svg id="gloveCloneSummary3"></svg></div>
                            </li>
                        </ul>
                        <!-- <div class="finalize-view__list"><button mat-raised-button color="primary" (click)="download()">Download Images</button>
                        </div> -->
                        <div class="finalize-view__button">
                            <button type="submit" mat-raised-button color="accent" (click)="onSubmit()">Add to
                                Cart</button>
                        </div>
                    </mat-step>
                </mat-horizontal-stepper>
            </mat-step>
        </mat-vertical-stepper>
    </form>
</mat-card>