

#hands mat-card {
    margin-right: 8px;
    width:100%;
}

#hands div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 6px;
}

#hands img{
    width: 175px
}

.glove-series {
    display: flex;
    width: 100%;
    justify-content: center;
}

.glove-series_info {
    width:20%;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    justify-content: space-around;
    background: purple;
    color:white;
    margin:2px;
    height:14rem;

}

.finalize-view__button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.finalize-view__button button{
    display: flex;
    justify-content: center;
    font-size: 0.75rem;
    padding: 1em 2em;
    min-width: 200px;
    /* background: #0160b4;
    border-color: #0160b4; */
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    letter-spacing: 0.2em;
    border-radius: 3px;
    line-height: 20px;
}

.finalize-view__list {
    display: flex;
    justify-content: center;
}

.finalize-view__list li {
    list-style: none;
}

.finalize-view {
    width:30%;
    max-width: 30rem;
}

@media screen and (min-width:32rem){

    .glove-series_info{
        justify-items: center;
    }

    .title {
        padding-left: 8px;
    }


}

.horizontal-wizard-slider{
    min-width: 450px;
}

.hands{
    width: 150px;
    height: auto;
}

.customizehelp {
    background: white;
}

@media screen and (max-width:30rem){
    .glove-series{
        width: 17rem;
        justify-content: space-around;
    }
    
    .glove-series_info{
        width:18%;
    }
}

.mat-img-buffer{
    margin-right: 1.25rem;
}

.spacer {
    margin-top: 0.625rem;
}

.title {
    padding-left: 8px;
}

.vertical-container {    
    width: 100%;
}

.vertical-view_column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vertical-view-column_img{
    width: 30%;
}

.vertical-view_row{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 0.5rem;
}

.vertical-flex-grow{
    flex: 1 0;
}

.vertical-view__item {
    display: flex;
    margin-bottom: 2px;
}

.vertical-view_row
.vertical-view__item button{
    margin: 0.3rem;
}

.vertical-view__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.vertical-view__button button{
    margin-right:1.25rem;
}



.slider  {
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;
    align-items: center;
    height: 460px;
}

@media (min-width:33.125rem){
    .vertical-flex-grow {
        flex: 0.2 0 250px;
    }

    .mat-slider-vertical{
        min-height: 20rem;
    }

    .slider {
        justify-content: center;
    }
}

.vertical-wizard-slider {
    min-width: 450px;
}

.vertical-view__web-view {
    width: 800px;
}

.mat-slider-vertical{
    min-height: 250px
}

.wrap {
    flex-flow: wrap;
}



/* the slides */
.slick-slide {
    margin: 0 10px;
    padding: 1rem;
}
/* the parent */
.slick-list {
    margin: 0 -10px;
}

.center-panel{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 0.5rem;
}

.vert-dexterity{
    width: 125px;
    padding: 0.5rem;
}
