
<mat-card>
    <form [formGroup]="verticalForm">
        <mat-vertical-stepper #verticalMenu1>
            <mat-step>
                <mat-icon icon="thumbs-up"></mat-icon>
                <ng-template matStepLabel>Setup</ng-template>
                <mat-horizontal-stepper #verticalSubMenu1
                    (selectionChange)="setMenuStatus(verticalSubMenu1._steps._results,'subForm1')">
                    <div class="vertical-container">

                        <!-- Question #1 -->
                        <mat-step>
                            <mat-icon icon="thumbs-up"></mat-icon>
                            <ng-template matStepLabel>Glove Type</ng-template>
                            <div class="vertical-view_column" *ngFor="let sport of (wizardPrompts)?.sportPlayed">
                                <mat-card-title>{{sport.label}}</mat-card-title>
                                <div class="vertical-view_row">
                                    <div class="vertical-view__item" *ngFor="let option of sport.options;let i = index"><button
                                            mat-raised-button type="button" color="primary"
                                            (click)="setGloveSeries(option.valueString, option.value, option.id, 'subForm1', sport.formName)">{{option.valueString}}</button>
                                    </div>
                                </div>
                            </div>
                            &nbsp;

                            <div class="vertical-view__button">
                                <button mat-raised-button matStepperNext type="button" color="accent">Next</button>
                            </div>

                        </mat-step>
                        
                        <!-- Question #3 -->
                        <mat-step>
                            <mat-icon></mat-icon>
                            <ng-template matStepLabel>Position</ng-template>
                            <div *ngFor="let position of (wizardPrompts)?.positions">
                                <mat-card-title>{{position.label}}</mat-card-title>
                                <div class="vertical-view_row">
                                    <div class="vertical-view__item wrap" *ngFor="let option of position.options;let i = index">
                                        <button mat-raised-button type="button" color="primary"
                                            (click)="setGloveType(option.shortName, option.fullName, option.id, option.value, position.formName,'subForm1', option.img)">{{option.fullName}}</button>
                                    </div>
                                </div>
                                &nbsp;
                                <div class="vertical-view__button">
                                    <button mat-button matStepperPrevious type="button">Back</button>
                                    <button mat-raised-button matStepperNext type="button" color="accent">Next</button>
                                </div>
                            </div>
                        </mat-step>
                        <!-- Question #4 -->
                        <mat-step>
                            <mat-icon></mat-icon>
                            <ng-template matStepLabel>Glove Hand</ng-template>
                            <div *ngFor="let hand of (wizardPrompts)?.gloveHand">
                                <mat-card-title>{{hand.label}}</mat-card-title>
                                <div class="vertical-view_row">
                                    <div class="vertical-view__item vertical-flex-grow">
                                    <mat-card class= "mat-elevation-z8 mat-img-buffer"
                                        *ngFor="let option of hand.options;let i = index" (click)="setGloveHand(option.id, option.value, option.valueString)">
                                        <div>
                                            <img mat-card-image src="./assets/images/{{option.img}}">
                                        </div>

                                        <!-- <div>
                                            <button mat-button type="button" color="primary" >{{option.valueString}}</button>
                                        </div> -->
                                    </mat-card>
                                </div>
                                </div> &nbsp;
                                <div class="vertical-view__button">
                                    <button mat-button matStepperPrevious type="button">Back</button>
                                    <button mat-raised-button matStepperNext type="button" color="accent">Next</button>
                                </div>
                            </div>

                        </mat-step>
                        <!-- Question #5 -->
                        <mat-step>
                            <mat-icon></mat-icon>
                            <ng-template matStepLabel>Hand Size</ng-template>
                            <div *ngFor="let size of (wizardPrompts)?.gloveFit">
                                <mat-card-title>{{size.label}}</mat-card-title>
                                <div class="vertical-view__list vertical-flex-grow">
                                    <hand-size-view [hands]="size.options"></hand-size-view>
                                    &nbsp;
                                </div>
                            </div>
                            &nbsp;
                            <div class="vertical-view__button">
                                <button mat-button matStepperPrevious type="button">Back</button>
                                <button mat-raised-button matStepperNext type="button" color="accent">Next</button>
                            </div>
                        </mat-step>
                        <!-- Question #6 -->
                        <mat-step>
                            <mat-icon></mat-icon>
                            <ng-template matStepLabel>Protection</ng-template>
                            <div *ngFor="let pad of (wizardPrompts)?.gloveProtection">
                                <mat-card-title>{{pad.label}}</mat-card-title>
                                <div class="vertical-view_row">
                                    <div class="vertical-view__item" *ngFor="let option of pad.options;let i = index">
                                        
                                        <button mat-raised-button type="button" color="primary"
                                            (click)="setGloveOptions(option.valueString, option.value, option.id,'subForm1',pad.formName)">
                                            {{option.valueString}}
                                        </button>
                                        

                                    </div>
                                </div>
                            </div>&nbsp;
                            <div class="vertical-view__button">
                                <button mat-button matStepperPrevious type="button">Back</button>
                                <button mat-raised-button matStepperNext type="button" color="accent">Next</button>
                            </div>
                        </mat-step> 
                        <!-- Question #7 -->
                        <mat-step>
                            <mat-icon></mat-icon>
                            <ng-template matStepLabel>Flexibility</ng-template>
                            <div *ngFor="let flex of (wizardPrompts)?.gloveCondition;let i = index">
                                <mat-card-title>{{flex.label}}</mat-card-title>
                                <div class="vertical-view_row">
                                    <div class="vertical-view__item" *ngFor="let option of flex.options">                 
                                        <button mat-raised-button type="button" color="primary"
                                            (click)="setGloveOptions(option.valueString, option.value, option.id, 'subForm1',flex.formName)">
                                            {{option.valueString}}
                                        </button>
                                    </div>
                                </div>&nbsp;
                                <div class="vertical-view__button">
                                    <button mat-button matStepperPrevious type="button">Back</button>
                                    <button *ngIf="verifySubMenuCompletion('subForm1')" mat-raised-button
                                        (click)="nextStep()" type="button" color="accent">Next</button>
                                </div>
                            </div>
                        </mat-step>
                    </div>
                </mat-horizontal-stepper>
            </mat-step>

            <mat-step>
                <mat-icon icon="thumbs-up"></mat-icon>
                <ng-template matStepLabel>Design</ng-template>
                <mat-horizontal-stepper #verticalSubMenu2
                    (selectionChange)="setMenuStatus(verticalSubMenu2._steps._results,'subForm2')">
                    <!-- Question #1: Sub 2 -->
                    <mat-step>
                        <ng-template matStepLabel>Glove Size</ng-template>
                        <div *ngFor="let question of (wizardPrompts)?.gloveSize">
                            <mat-card-title>{{question.label}}</mat-card-title>
                            <div class="vertical-view_row">
                                <div class="vertical-view__list slider">
                                    <mat-slider [min]="gloveSizeSlider.handSliderMin" [max]="gloveSizeSlider.handSliderMax"
                                        [step]="gloveSizeSlider.handSliderStep" [thumbLabel]=true
                                        [vertical]="gloveSizeSlider.handSliderVertical" [value]="gloveSizeSlider.handSliderValue"
                                        [tickInterval]="gloveSizeSlider.tickInterval" (change)="setGloveSize($event)"
                                        
                                    >
                                    </mat-slider>
                                </div>

                                <div class="vertical-view__list vertical-flex-grow mat-elevation-z8">
                                    <mat-card>
                                        <mat-card-title *ngIf="!glove.size"></mat-card-title>
                                        <mat-card-title *ngIf="glove.size">{{glove.size}}" Glove</mat-card-title>
                                        <img mat-card-image src={{handSizeImg}}>
                                        <mat-card-content >{{glove.content || "Please select your glove size." }} </mat-card-content>
                                    </mat-card>
                                    <glove-carousel-view></glove-carousel-view>
                                </div>

                            </div>
                            <div class="vertical-view__button">
                                <button mat-button matStepperPrevious type="button">Back</button>
                                <button mat-raised-button matStepperNext type="button" (click)="autoStartIntroJs()" color="accent">Next</button>
                            </div>
                        </div>
                    </mat-step  > 

                    <!-- Question #2: Sub 2 -->
                    <mat-step #customTool>
                        <mat-icon icon="thumbs-up"></mat-icon>
                        <ng-template matStepLabel>Customize</ng-template>

                        <div *ngFor="let question of (wizardPrompts)?.gloveDesign">
                            <div class="vertical-view_glove_row">
                                <div class="vertical-view__list vertical-flex-grow">
                                    <glove-customizer-vertical-view
                                        [showNavigationIndicators]="showNavigationIndicators"
                                        [showNavigationArrows]="showNavigationArrows" [question]="question">
                                    </glove-customizer-vertical-view>

                                    <div class="vertical-view__item spacer"></div>
                                    <div>
                                        <div id="slider-control" *ngIf="sliderStatus">
                                            <div class="glove-editing-label">
                                                <div ><p>Currently Customizing: </p></div> <div><strong>Glove Leather</strong></div>
                                            </div>
                                            
                                            <ng5-slider id="slider-control-leather" #verticalSlider class="vertical-wizard-slider" [(value)]="value"
                                            [options]="gloveSlider" 
                                            (userChange)="leatherSliderSelections(verticalSlider.value)">
                                            </ng5-slider>
                                        </div>
                                        <div *ngIf="!sliderStatus">
                                            <div>
                                                <div><p>Currently Customizing: </p></div>
                                                <div><p><strong>Stitching/Embroidery Leather</strong></p></div>
                                            </div>
                                            
                                            <ng5-slider id="slider-control-embroidery" #verticalEmbSlider class="vertical-wizard-slider" [(value)]="valueEmbroidery"
                                            [options]="embroiderySlider"
                                            (userChange)="embroiderySliderSelections(verticalEmbSlider.value)"></ng5-slider>
                                        </div>
                                    </div>&nbsp;
                                </div>
                            </div>

                            <div class="vertical-view__button">
                                <button mat-button matStepperPrevious type="button">Back</button>
                                <button mat-raised-button matStepperNext type="button" color="accent">Next</button>
                            </div>
                        </div>
                    </mat-step>

                    <!-- Question #3: Sub 2 -->
                    <mat-step>
                        <ng-template matStepLabel>Web</ng-template>
                        <div *ngFor="let question of (wizardPrompts)?.gloveWeb">
                            <mat-card-title>{{question.label}}</mat-card-title>
                            <div class="">
                                <div class=" vertical-view__list vertical-flex-grow">
                                    <vertical-web-view [webs]="filteredGloveWebs"></vertical-web-view>
                                </div>&nbsp;
                            </div>

                            <div class="vertical-view__button">
                                <button mat-button matStepperPrevious type="button">Back</button>
                                <button mat-raised-button matStepperNext type="button" color="accent">Next</button>
                            </div>
                        </div>
                    </mat-step>

                    <!-- Question #4 -->
                    <mat-step>
                        <ng-template matStepLabel>Personalize</ng-template>

                        <div fxLayout="column" fxLayoutAlign=" center">
                            <div *ngFor="let question of (wizardPrompts)?.gloveName">
                                <mat-card-title>{{question.label}}</mat-card-title>
                                <div fxLayout="row" fxLayoutAlign="center" *ngFor="let option of question.options;let i = index">
                                    <mat-form-field class="">
                                        <input matInput formControlName="gloveFont"
                                            placeholder="{{option.value}}" maxlength="16" [value]="">
                                        <button mat-button *ngIf="option.value" matSuffix mat-icon-button
                                            aria-label="Clear">
                                            <mat-icon>close</mat-icon>
                                        </button>
                                    </mat-form-field>
                                </div>
                            </div>&nbsp;
                            <div *ngFor="let font of (wizardPrompts)?.gloveFont">
                                <div>
                                    <mat-card-title>{{font.label}}</mat-card-title>
                                </div>
                                <mat-radio-group>
                                    <mat-radio-button fxLayout="column" *ngFor="let option of font.options"
                                        [name]="option.name" [value]="option.value"
                                        (click)="setGloveOptions(option.valueString, option.value, option.id, option.name, font.formName)">
                                        {{option.valueString}}
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>&nbsp;
                            <div class="vertical-view__button">
                                <button mat-button matStepperPrevious type="button">Back</button>
                                <button *ngIf="verifySubMenuCompletion('subForm2')" mat-raised-button
                                        (click)="nextStep()" type="button" color="accent">Next</button>
                            </div>
                        </div>
                    </mat-step>
                </mat-horizontal-stepper>
            </mat-step>

            <mat-step>
                <mat-icon icon="thumbs-up"></mat-icon>
                <ng-template matStepLabel>Finalize</ng-template>
                <mat-horizontal-stepper>
                    <mat-step>
                        <mat-icon icon="thumbs-up"></mat-icon>
                        <ng-template matStepLabel></ng-template>
                        <ul class="finalize-view__list">
                            <li class="finalize-view">
                                <div class="finalize-view_image"><svg id="gloveCloneSummary1"></svg></div>
                            </li>
                            <li class="finalize-view">
                                <div class="finalize-view_image"><svg id="gloveCloneSummary2"></svg></div>
                            </li>
                            <li class="finalize-view">
                                <div class="finalize-view_image"><svg id="gloveCloneSummary3"></svg></div>
                            </li>
                        </ul>

                        <div class="finalize-view__button">
                            <button type="submit" mat-raised-button color="accent">Add to Cart</button>
                        </div>
                    </mat-step>
                </mat-horizontal-stepper>
            </mat-step>
        </mat-vertical-stepper>
    </form>
</mat-card>