

#hands mat-card {
    margin-right: 8px;
    width:100%;
}

#hands div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 6px;
}

#hands {
    max-width: 175;
}

#hands img{
    width: 100%
}

.glove-series {
    display: flex;
    width: 100%;
    justify-content: center;
}

.glove-series_info {
    width:20%;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    justify-content: space-around;
    background: purple;
    color:white;
    margin:2px;
    height:14rem;

}

.finalize-view__button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.finalize-view__button button{
    display: flex;
    justify-content: center;
    font-size: 0.75rem;
    padding: 1em 2em;
    min-width: 200px;
    /* background: #0160b4;
    border-color: #0160b4; */
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    letter-spacing: 0.2em;
    border-radius: 3px;
    line-height: 20px;
}

.finalize-view_image{
    width:250px
}

.finalize-view__list {
    display: flex;
    justify-content: center;
    width: 100%;
}

.finalize-view__list li {
    list-style: none;
}

.finalize-view {
    /* max-width: 30rem; */
    padding-right: 5px;
}

@media only screen and (max-width: 400px){
    
    .finalize-view__list {
        display: flex;
        flex-direction: column;
        padding:0px;        
    }

    .finalize-view_image{
        width:200px
    }
    
}

@media screen and (min-width:25rem){
    
    .glove-series_info{
        justify-items: center;
    }

    .title {
        padding-left: 8px;
    }


}

.horizontal-wizard-slider{
    min-width: 450px;
}

.hands{
    width: 150px;
    height: auto;
}

.customizehelp {
    background: white;
}

@media screen and (min-width:600px){
    .vertical-view-column_img{
        width: 30%;
        flex-shrink: 0.8;
    }
}

@media screen and (max-width: 600px){
    .glove-series{
        width: 17rem;
        justify-content: space-around;
    }
    
    .glove-series_info{
        width:18%;
    }

    .mat-img-buffer{
        margin-right: 0rem;
    }

    .vertical-view-column_img{
        width: 40%;
        flex-shrink: .8;
    }
}

.mat-img-buffer{
    margin-right: 1.25rem;
}

.spacer {
    margin-top: 0.625rem;
}

.title {
    padding-left: 8px;
}

mat-icon {
    color: grey;
}


.vertical-container {    
    width: 100%;
}

.vertical-view_column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vertical-view_glove_row{
    display: flex;
    justify-content: center;
}

.vertical-view_row{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 0.5rem;
    width: 100%;
}

.vertical-flex-grow{
    flex: 1 0;
    width: 100%;
}

.vertical-view__item {
    display: flex;
    margin-bottom: 2px;
}

.vertical-view_row
.vertical-view__item button{
    margin: 0.3rem;
}

.vertical-view__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.vertical-view__button button{
    margin-right:1.25rem;
}

.slider  {
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;
    align-items: center;
    height: 460px;
}

.radio-input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    align-items: center;
}

.radio-input__item {
    display:flex;
}

.radio-input-row{
    width:50%;
    align-items: center;
}

.radio-buttons {
    height: 1.5625rem;
    width: 1.5625rem;
    display: flex;
    margin: 2px;
}

.wrap{
    flex-wrap: wrap;
}

.web-buttons{
    width: 3.125rem;
    height:3.125rem;
    margin:2px;
    display: flex;
    justify-content: center;
    vertical-align: center;
}

.web-buttons img {
    height: 100%;
    padding: 2px;
}

.qo-tooltip-class .tooltip-inner {
    background-color: purple;
}

.qo-tooltip-class .arrow::before {
    border-top-color: purple;
}


@media (min-width:33.125rem){
    .vertical-flex-grow {
        flex: 0.1 0 250px;
    }

    .mat-slider-vertical{
        min-height: 20rem;
    }

    .slider {
        justify-content: center;
    }
}

.vertical-wizard-slider {
    min-width: 450px;
}

.vertical-view__web-view {
    width: 800px;
}

.mat-slider-vertical{
    min-height: 250px
}

.wrap {
    flex-flow: wrap;
}


/* the slides */
.slick-slide {
    margin: 0 10px;
    padding: 1rem;
}
/* the parent */
.slick-list {
    margin: 0 -10px;
}

.center-panel{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 0.5rem;
}

.vert-dexterity{
    width: 125px;
    padding: 0.5rem;
}

.glove-editing-label{
    display: flex;
}

.glove-editing-label > div {
    padding-right: 10px;
}

@media only screen and (max-width:610px){
    .glove-editing-label {
        flex-direction: column;
        align-items: center;
        justify-items: center;
        padding-right: 0px;
    }

    .radio-buttons {
        height: 2rem;
        width: 2rem;
        margin-right: .312rem;
    }

    .mat-card-title {
        font-size: 1.2rem;
        font-weight: 400;
        margin-bottom: 6px;
    }

    .margin-bottom {
        margin-bottom: 20px;
    }
}