*:focus {
    outline: none !important;
    border: 0 !important;
}

/* #hands {
    display: flex;
    flex-direction: row;
    align-items:center;
} */

.finalize-view__list {
    display: flex;
    justify-content: center;
}

.finalize-view__list li {
    list-style: none;
}

.finalize-view {
    width:30%;
    max-width: 30rem;
}



#hands mat-card {
    margin-right: 8px;
}

#hands div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 6px;
}

#hands img{
    width: 175px
}

.horizontal-container {    
    width: 100%;
}

.horizontal-view_column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.horizontal-view_row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 12px;
}

.horizontal-view__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2px;
}

.horizontal-view__item button {
    display: flex;
}

.horizontal-view_row
.horizontal-view__item {
    flex-direction:row;
}

.horizontal-view__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.horizontal-view__button button{
    margin-right:8px;
    
}

.horizontal-wizard-slider{
    min-width: 450px;
}

.finalize-view__button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.finalize-view__button button{
    display: flex;
    justify-content: center;
    font-size: 0.75rem;
    padding: 1em 2em;
    min-width: 200px;
    background: #0160b4;
    border-color: #0160b4;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    letter-spacing: 0.2em;
    border-radius: 3px;
    line-height: 20px;

}

/* .mat-radio-button {
    margin-bottom: 5px;
} */

.mat-slider-vertical{
    min-height: 300px
}

.center-slick{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding: 0.5rem;
}


.svg_positions{
    height: 25rem;
}

.horizontal-view__web_container{
    height: 400px; 
    display:flex; 
    justify-content: center;
}
/* 
.horizontal-view{
    width:100%;
}



#fab-button {
    width: 40px;
    height: 40px;
}

#fab-button div {
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 64px;
    line-height: 36px;
    padding: 0 2px;
    border-radius: 4px;
    overflow: visible;
    transform: translate3d(0,0,0);
    transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
    min-width: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    box-shadow: 0 2px 4px 1px rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 0;
    flex-shrink: 0;
}

#fab-button:hover{
    border-radius: 50%;
    box-shadow: 0 2px 6px 1px rgba(0,0,0,0.6);
}
    

.center-slick{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 0.5rem;
}

.image-card{    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 400px;
}

.image-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}

.mat-slider-vertical{
    min-height: 300px
}

.svg_positions{
    height: 250px;
}

.horizontal-wizard-slider{
    min-width: 450px;
}

@media only screen and (max-width: 960px) {
    .mat-card-title {
        font-size: 20px;
        font-weight: 400;
    }

}

.loadingOverlay {
    background-color: rgba(255,255,255, 0.9);
    display: none;
    z-index: zIndex("low");
}

.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: green;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-next {
    right: -15px;
}
.slick-prev {
    right: -15px;
}

.slick-slide {
    width:200px;
    margin-left:25px;
} */
