.wizard{
    width: 1024px;
}

.main {
    display: flex;
    width: 1024px;
}

div.spinner-container{
    position: relative;
    z-index: 1000;
    width: 100%;
    left: 48%;

}

.spinner {
    position: absolute;
    
    top: 150px;
    z-index: 1000;
    
}