
<div class="">
  <ngu-carousel class="ngu-slider-main"  [inputs]="carouselTile"
    [dataSource]="filteredGloveImages">
    <button type="button" class="leftRs" NguCarouselPrev>Previous</button>
    <button type="button" class="rightRs" NguCarouselNext>Next</button>

    <ngu-tile #gloveCarousel *nguCarouselDef="let glove;">
      <section>
        <label for="">
          <mat-card class="mat-elevation-z10">
            <div class="">
              <div class="">
                <img mat-card-image [src]="glove">
              </div>
            </div>
          </mat-card>
        </label>
      </section>
    </ngu-tile>
  </ngu-carousel>
</div> 
