<div>
  <div style="display: flex; flex-direction: column; justify-content:space-around">
    <h2>Quick Order Glove</h2>
    <span>PRICE</span>
    <h4>$230</h4>


    <div *ngFor="let data of gloveData">
       <div class="form-group">
        <label for="{{data.elementId}}">{{data.elementLabel}}</label>
       <!-- <div class="radio-input-container" *ngIf="data.elementType == 'radio'">
          <div *ngIf="data.id != gloveWeb" id="body" class="radio-buttons" *ngFor="let option of data.elementOptions" [style.background]="option.hex"
            type="button" (click)="applyFill($event,option.hex)" ngbTooltip="{{option.innerHtml}}" tooltipClass="qo-tooltip-class" >
          </div>
        </div>


        <div *ngIf="data.elementType != 'radio'" class="form-group">
          <select class="form-control" name="glove_series" id="{{data.elementId}}" (change)="test($event)">
            <option *ngFor="let option of data.elementOptions" value="{{option.value}}" >{{option.innerHtml}}</option>
          </select>
        </div>
      </div> -->
      
      <ng-container [ngSwitch]="test(data.id)">
        <ng-container *ngSwitchCase="gloveBody">
            <div class="radio-input-container">
              <div id="body" class="web-buttons" *ngFor="let option of data.elementOptions" 
                type="button" (click)="applyFill($event,option.hex)" ngbTooltip="{{option.innerHtml}}" tooltipClass="qo-tooltip-class" >
              <img src="{{data.uri}}{{option.file}}" alt="">
              </div>
            </div>
        </ng-container>

        
        <ng-container *ngSwitchDefault>
            <div class="radio-input-container" *ngIf="data.elementType == 'radio'">
              <div id="body" class="radio-buttons" *ngFor="let option of data.elementOptions" [style.background]="option.hex"
                type="button" (click)="applyFill($event,option.hex)" ngbTooltip="{{option.innerHtml}}" tooltipClass="qo-tooltip-class" >
              </div>
            </div>


            <div *ngIf="data.elementType != 'radio'" class="form-group">
              <select class="form-control" name="glove_series" id="{{data.elementId}}" (change)="test($event)">
                <option *ngFor="let option of data.elementOptions" value="{{option.value}}" >{{option.innerHtml}}</option>
              </select>
            </div>
        </ng-container>
      </ng-container>

    </div>

    <!-- <div *ngFor="let series of gloveData.gloveBody">
      <div class="form-group radio-input-container">
        <label for="series.elementId">{{series.label}}</label>
        <select class="form-control" name="glove_body" id="series.elementId" (change)="test($event)">
          <option *ngFor="let option of series.options" value="{{option.value}}">{{option.color}}</option>
        </select>
        <div id="body" class="radio-buttons" *ngFor="let option of series.options" [style.background]="option.hex" type="button" (click)="applyFill($event,option.hex)"></div>
      </div>
    </div>

    <div *ngFor="let accent of gloveData.gloveAccent">
      <div class="form-group radio-input-container">
        <label for="accent.id">{{accent.label}}</label>
        <select class="form-control" name="glove_accent" id="accent.id" (change)="test($event)">
          <option *ngFor="let option of accent.options" value="{{option.value}}">{{option.color}}</option>
        </select>
        <div id="accents" class="radio-buttons" *ngFor="let option of accent.options" [style.background]="option.hex" type="button" (click)="applyFill($event)"></div>
      </div>
    </div>

    <div *ngFor="let trim of gloveData.gloveTrim">
      <div class="form-group">
        <label for="trim.id">{{trim.label}}</label>
        <select class="form-control" name="glove_trim" id="trim.id" (change)="test($event)">
          <option *ngFor="let option of trim.options" value="{{option.value}}">{{option.color}}</option>
        </select>
      </div>
    </div>
    <div *ngFor="let logo of gloveData.gloveLogo">
      <div class="form-group">
        <label for="logo.id">{{logo.label}}</label>
        <select class="form-control" name="glove_logo" id="logo.id">
        <option *ngFor="let option of logo.options" value="{{option.value}}">{{option.color}}</option>
        </select>
      </div>
    </div> -->
  </div>
</div>