.radio-input-container {
    display: flex;
    flex-flow:wrap;

}

.radio-buttons {
    height: 25px;
    width: 25px;
    display: flex;
    margin:2px;
}

.qo-tooltip-class .tooltip-inner {
    background-color: purple;
}

.qo-tooltip-class .arrow::before {
    border-top-color: purple;
}

