<div>
  <div style="display: flex; flex-direction: column; justify-content:space-around">
    <h2>Quick Order Glove</h2>
    <span>PRICE</span>
    <h4>$230</h4>


    <div *ngFor="let data of gloveData">
      <div class="form-group">
        <label for="{{data.elementId}}">{{data.elementLabel}}</label><i class="fas fa-info-circle" [openDelay]="100"
          [closeDelay]="200" triggers="mouseenter:mouseleave" ngbPopover="{{data?.elementHelp}}"
          popoverTitle="Glove Series"></i>

        <ng-container [ngSwitch]="gloveWebExpressionCheck(data.id)">
          <ng-container *ngSwitchCase="gloveWeb">
            <div id="{{data.elementId}}" class="radio-input-container">
              <ng-container *ngFor="let option of filterWebInputs(data.elementOptions)">
                <div id="{{data.elementId}}_{{option.value}}" class="web-buttons" type="button"
                  (click)="applyFill($event,option.hex)" ngbTooltip="{{option.innerHtml}}"
                  tooltipClass="qo-tooltip-class">
                  <ng-container>
                    <img src="{{data.uri}}{{option.file}}" alt="{{option.innerHtml}}">
                  </ng-container>                  
                  
                  <!-- <img src="{{data.uri}}{{option | webFilter: 'outfield'}}" alt=""> -->
                </div>
              </ng-container>
            </div>
          </ng-container>

          <ng-container *ngSwitchDefault>
            <div id="{{data.elementId}}" class="radio-input-container" *ngIf="data.elementType == 'radio'">
              <ng-container *ngFor="let option of filterColorInputs(data.elementOptions, data.id)">
                <div id="{{data.elementId}}_{{option.value}}" [attr.data-glove_section]="option.gloveSection" class="radio-buttons"
                  [style.background]="option.hex" type="button"
                  (click)="applyFill($event,option.hex,option.value,data.elementId)" ngbTooltip="{{option.innerHtml}}" 
                  tooltipClass="qo-tooltip-class">
                </div>
              </ng-container>
            </div>

            <div id="{{data.elementId}}" *ngIf="data.elementType != 'radio'" class="form-group">
              <select [attr.data-glove_section]="option?.gloveSection" class="form-control" name="glove_series"
                id="{{data.elementId}}" (change)="selectValueReceiver($event)" >
                <option *ngFor="let option of data.elementOptions" value="{{option.value}}">{{option.innerHtml}}
                </option>
              </select>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>