<div>
    <ngu-carousel [inputs]="carouselTile" [dataSource]="filteredGloveWebs">
      <button type="button" class="leftRs" NguCarouselPrev></button>
      <button type="button" class="rightRs" NguCarouselNext></button>
  
      <ngu-tile #verticalWeb *nguCarouselDef="let web;">
        <section class="mat-elevation-z8">
          <label style="width: 100%" for={{web.id}}>
              <div class="vertical-web-view_column">
                  <div class="vertical-web-view__list">
                      <mat-card-header>
                        <mat-card-title>{{web.valueString}}</mat-card-title>
                      </mat-card-header>
                      &nbsp;
                  </div>
                  <div class="vertical-web-view__list">
                    <img *ngIf="web.imageUrl != undefined" mat-card-image [src]= "web.imageURL" >
                  </div>
                  <div class="vertical-web-view__list">
                    <mat-card-actions>
                      <button mat-raised-button color="primary"
                        (click)="setWebOptions(web.valueString,  web.id, web.value, 'subForm2' , 'gloveWeb')">Select</button>
                    </mat-card-actions>
                  </div>
              </div>
          </label>
        </section>
      </ngu-tile>
    </ngu-carousel> 
  </div>
  <div class="swipe"></div>