.vertical-web-view_row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.vertical-web-view_column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vertical-web-view__list {
    display:flex;
}

.vertical-web-view__list:first-child {
    margin-bottom: 1.5rem;
}

.vertical-web-view__list:first-child {
    margin-bottom: 1.5rem;
}

/* img {
    width: 250px;
    height: 100%;
} */


.leftRs {
    position: absolute;
    /* top: 160px;
    left: -10px; */
    margin: auto;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, 0.3);
    border-radius: 999px;
    left: 0;
}

.rightRs {
    position: absolute;
    /* top: 160px;
    left: -10px; */
    margin: auto;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, 0.3);
    border-radius: 999px;
    right: 0;
}