.vertical-web-view_row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.vertical-web-view_column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vertical-web-view__list {
    display:flex;
}

.vertical-web-view__list:first-child {
    margin-bottom: 1.5rem;
}

.vertical-web-view__list:first-child {
    margin-bottom: 1.5rem;
}

.web-img-size {
    width: auto;
    height: 172px;
}

/* img {
    width: 250px;
    height: 100%;
} */


.leftRs,
.rightRs {
    position: absolute;
    background: none;
    border: none;
    margin: auto;
    width: 2rem;
    height: 2rem;
    top: 0;
    bottom: 0;
}

.leftRs {       
    background-image: url('http://nystix.com/wp-content/uploads/keyboard_arrow_left-32px.svg') ;
    left: 0;
}

.rightRs {    
    background-image: url('http://nystix.com/wp-content/uploads/keyboard_arrow_right-32px.svg') ;
    right: 0;
}